################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj/
**/bin/
/003_arrays/006_SortingNumbers/006_SortingNumbers/Properties
